.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $l-grey;
  overflow-y: auto;
  z-index: 1;

  @media screen and (min-width: $break-point-terminal) {
    left: $size-terminal-pane-small;
    width: $size-content-pane-small;
  }

  @media screen and (min-width: $break-point-terminal-large) {
    left: $size-terminal-pane;
    width: $size-content-pane;
  }

  .nav-links {
    display: none;
    width: 100%;
    margin-top: 50px;
    text-align: center;

    .inline {
      display: inline-block;
      margin: 0 8px;
    }

    @media screen and (min-width: $break-point-terminal) {
      display: block;
    }
  }
}
