.form {
  width: 100%;

  .input-container {
    width: 100%;
    margin-bottom: 24px;

    label {
      display: block;
      margin-top: 4px;
      color: $grey;
    }

    input {
      width: 100%;
      margin-bottom: 1px;
      padding: 4px 6px;
      border: none;
      border-bottom: 1px solid $m-grey;
      background: none;

      &:focus {
        margin-bottom: 0;
        border-bottom: 2px solid $primary;

        & ~ label {
          color: $primary;
        }
      }

      &.btn--submit {
        background: $m-grey;
        margin-top: 10px;
        padding: 8px;
        border: 2px solid transparent;
        border-radius: 50px;
        color: $white;
        opacity: 0.5;
        cursor: not-allowed;

        transition: border 0.2s, background 0.2s, color 0.2s, opacity 0.2s;

        &.ready {
          background: $accent;
          opacity: 1;
          cursor: pointer;

          &:hover {
            border: 2px solid $primary;
            background: none;
            color: $primary;
          }
        }
      }
    }

    textarea {
      width: 100%;
      margin: 1px 0;
      background: none;
      border: 1px solid $m-grey;
      padding: 6px;

      &:focus {
        margin: 0;
        border: 2px solid $primary;
      }
    }
  }
}
