.page {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  padding: 4% 8%;
  margin-bottom: $size-bottom-pane * 1.5;

  .title {
    font-family: $font-family-title;
    letter-spacing: 0.15rem;
  }

  @media screen and (min-width: 880px) {
    padding: 2% 6%;
  }

  @media screen and (min-width: $break-point-terminal) {
    margin-bottom: $size-bottom-pane * 0.75;
  }
}
