.row {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dotted $m-grey;

  .row--title {
    margin-bottom: 4px;
  }

  .row--desc {
    color: $d-grey;
  }

  .row--date {
    color: $grey;
    text-align: right;
  }
}
