$menu-bar-height: 36px;

.terminal-nav {
  display: none;
  width: 100%;
  height: 100%;
  background: none;
  opacity: 0;
  z-index: 1;

  @media screen and (min-width: $break-point-terminal) {
    display: block;
    position: absolute;
    padding: 20px 16px;
    bottom: 3%;
    left: 47%;
    height: 5%;
    width: 5%;
    opacity: 0;

    transition:
      bottom 500ms,
      left 500ms,
      opacity 500ms,
      height 500ms,
      width 500ms;

    &.nav-top {
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 1;
      z-index: 2;
    }

    &.hide {
      display: none;
    }
  }

  @media screen and (min-width: $break-point-terminal-large) {
    padding: 24px 20px;
  }

  .terminal {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
    background-clip: padding-box;

    .menu-bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 10%;
      max-height: $menu-bar-height;
      background: $grey;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      z-index: 2;

      .close {
        position: absolute;
        top: 8px;
        left: 10px;
        height: 100%;
        width: 50%;
        max-height: 20px;
        max-width: 20px;
        border-radius: 50%;
        background: $danger;
        cursor: pointer;

        transition: background-color 0.1s;

        &::before {
          position: absolute;
          top: 9px;
          left: 4px;
          width: 12px;
          height: 2px;
          background: $black;
          content: ' ';
          transform: rotate(45deg);
        }

        &::after {
          position: absolute;
          top: 9px;
          left: 4px;
          width: 12px;
          height: 2px;
          background: $black;
          content: ' ';
          transform: rotate(-45deg);
        }

        &:hover {
          background: darken($danger, 10);
        }
      }
    }

    .shell {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      padding-top: $menu-bar-height + 10px;
      background: $black;
      border-radius: 6px;
      color: $white;
      overflow-y: scroll;
      z-index: 1;

      .previous {
        font-family: $font-family-monospace;
        font-weight: 400;
        opacity: 0.65;

        .previous--item {
          .response {
            margin: 8px 0 20px 0;
            white-space: pre-line;

            .ls {
              .option {
                color: $accent;

                &.folder {
                  color: $warning;
                }
              }
            }
          }
        }
      }

      .command-line {
        display: flex;

        .prompt {
          margin-right: 10px;

          .start {
            margin-right: 4px;
          }
        }

        .command {
          flex-grow: 1;
          background: none;
          border: none;
          color: $l-grey;

          &--old {
            margin-top: 2px;
          }
        }
      }
    }
  }
}
