{
  "parser": "babel-eslint",
  "extends": [
    "airbnb"
  ],
  "rules": {
    "semi": [ 2, "always" ],
    "comma-dangle": 0,
    "no-console": 0,
    "func-names": 0,
    "no-else-return": 0,
    "react/jsx-boolean-value": 0
  },
  "plugins": [
    "eslint-plugin-babel"
  ]
}
