// Colors
$primary: #55B4D6;
$accent: #7ABB69;
$danger: #E94057;
$warning: #E6CD60;

$white: #F7F7F7;
$l-grey: #E6E7E8;
$m-grey: #9EA1A6;
$grey: #6D737A;
$d-grey: #3D444E;
$black: #0D1622;

// Font Size
$font-family: "Source Sans Pro", "Roboto", "Helvetica", "Arial", sans-serif;
$font-family-title: "Merriweather", serif;
$font-family-monospace: "Source Code Pro", monospace;
$base-font-size: 16px;
$base-font-color: $black;
$base-font-weight: normal;

// Sizes
$size-terminal-pane: 35%;
$size-content-pane: 65%;
$size-bottom-pane: 80px;
$size-terminal-pane-small: 45%;
$size-content-pane-small: 55%;
$size-bottom-pane-small: 64px;

// Break Points
$break-point-terminal-large: 1360px;
$break-point-terminal: 1080px;
$break-point-med-nav: 600px;
