@mixin btn($color, $color-active) {
  width: 100%;
  padding: 4px 10px;
  border-radius: 2px;
  border: 2px solid transparent;
  background: none;
  color: $color;
  text-align: center;
  cursor: pointer;

  transition: background 0.1s, color 0.1s, border 0.1s;

  &:hover {
    border: 2px solid $color;
  }

  &:active {
    background: $color;
    border: 2px solid $color;
    color: $color-active;
  }
}
