.page--home {

  .logo {
    width: 128px;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 8%;

    img {
      width: 100%;
    }

    @media screen and (min-width: $break-point-terminal) {
      margin-top: 8%;
    }
  }

  .links {
    margin-top: 120px;
    text-align: center;

    .link {
      display: inline-block;
      width: auto;
      margin: 0 10px;
      text-align: center;
    }
  }
}
